[submodule "frontend"]
	path = frontend
	url = https://github.com/divePencil/Third-Horizon-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/divePencil/Third-Horizon-backend.git
